/*
	main style
	@auhor: Lin;
	@create_at: 07/21/17;
 */

/* Custom Fonts */
@font-face {
    font-family: 'Open Sans Semibold';
    src: url('../fonts/open-sans/OpenSans-Semibold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/open-sans/OpenSans-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/open-sans/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/open-sans/OpenSans-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	font-size: 20px;
	font-family: 'Open Sans Semibold';
	color: #666;
}
.container-fluid {
	padding: 0;
}

/* Common style*/
.lh-7 {
	line-height: 70%;
}

/* Logo Section */
#page_top {
	height: 10px;
	background-color: #87d8ea;
}
.logo-contact {
	margin-top: 2em;
	margin-bottom: 2em;
}
.contact-title {
	font-size: 24px;
}
.phone-number {
	font-size: 25px;
	color: #006f9e;
	font-family: 'Open Sans Bold';
}
.phone-number a{
	cursor: pointer;
	text-decoration: none;
}
.address a{
	color: #666;
}

/* Banner Section */
.banner {
	background-image: url('../image/banner-inner.png');
	background-size: cover;
	background-color: #DDF5F9;
	padding-bottom: 3em;
}
.banner img {
	margin-top: 40px;	
	margin-bottom: 40px;
	width: 35%;
}
.banner-left {
	font-family: 'Open Sans Semibold';
	font-size: 42px;
	color: #00709E;
	padding-left: 12%;
	padding-right: 5%;
}
.banner-left button {
	height: 60px;
	border-radius: 30px;
	font-size: 20px;
	font-family: 'Open Sans Regular';
	padding: 10px 60px;
	margin-top: 30px;
}
.banner-right {
	padding-right: 15%;
	line-height: 160%;
	font-size: 22px;
	text-align: justify;
}
.banner-right p:first-child {
	font-size: 35px;
	color: #00709E;
}
video {
	width: 50%;
	margin-top: 50px;
}

/* Coolsculpting Concept Section */
.cools-concept {
	margin-top: 2em;
	text-align: justify;
}
.cools-concept p{
	margin: 1em 15%;
	display: block;
	width: 70%;
	line-height: 170%;
}
.cools-concept strong {
	color: #00709E;
}

/* How does Work Section */
.how-does {
	margin-top: 4em;
	color: #00709E;
	padding: 0 10%;
}
.how-does p:first-child{
	font-size: 35px;
	margin-bottom: 2em;
}
.how-does .item {
	float: left;
	width: 15%;
	font-size: 17px;
	margin-left: 8%;
}

/* Effect Section */
.effect {
	padding-top: 2em;
	color: #00709E;
	font-size: 23px;
	font-family: 'Open Sans Regular';
}
.effect-title {
	font-size: 28px;
	font-family: 'Open Sans Semibold';
}

/* Before and After Photos Section */
.before-after {
	background-color: #CDE7F4;
	background-image: url('../image/ba-bg.png');
	background-size: cover;
	margin-top: 2em;
	padding-top: 2em;
	padding-bottom: 2em;
}
.before-after p:first-child {
	color: #00709E;
	font-size: 35px;
}
.before-after p:last-child {
	font-size: 18px;
}

/* For Arms Section */
.arms {
	width: 80%;
	margin-left: 10%;
	margin-top: 2em;
	padding: 3%;
	background-color: #CCEEFA;
	background-image: url('../image/institute-bg.png');
	background-size: contain;
	font-size: 40px;
	color: #00709E;
	text-align: left;
}
.arms-comment {
	margin-top: 1em;
	font-size: 18px;
	color: #666;
}

/* Person call section*/
.person-call {
	width: 80%;
	margin-left: 10%;
	margin-top: 2em;
	text-align: justify;
}
.person-call p:first-child {
	color: #00709E;
	font-size: 45px;
}
.person-call div {
	padding-left: 3em;
}
.person-call button {
	font-size: 23px;
	height: 60px;
	border-radius: 30px;
	padding: 0 3em;
	margin-top: 2em;
}
.person-call button a {
	color: white;
	text-decoration: none;
}

/* Institute Section */
.institute {
	background-color: #CCEEFA;
	background-image: url('../image/institute-bg.png');
	background-size: cover;
	margin-top: 2em;	
	padding-top: 1em;
	padding-bottom: 1em;
}
.institute p {
	font-size: 42px;
	color: #00709E;
	text-align: center;
}
.building {
	width: 60%;
	margin-left: 20%;
	margin-top: 1em;
}
.rooms {
	width: 60%;
	margin-left: 20%;
	margin-top: 1em;
	text-align: justify;
	background: transparent;
}
.rooms div {
	padding-right: 2px;
	padding-left: 2px;
}

/***************************************************** Max Width : 1200px ***********************************************************/
@media only screen and (max-width: 1200px) {
	body {
		font-size: 16px;
	}
	.contact-title {
		font-size: 20px;
	}
	.phone-number {
		font-size: 21px;
	}
	.banner img {
		margin-top: 40px;	
		margin-bottom: 40px;
		width: 50%;
	}
	.banner-right {
		padding-right: 5%;
	}
	.how-does .item {
		width: 40%;
		margin-left: 8%;
	}
	.person-call p:first-child {
		font-size: 35px;
	}
	.person-call div {
		padding-left: 1em;
	}
	.person-call button {
		font-size: 20px;
		height: 50px;
		border-radius: 25px;
		padding: 0 1em;
		margin-top: 0;
	}
}

/***************************************************** Max Width : 768px ***********************************************************/
@media only screen and (max-width: 768px) {
	.banner img {
		margin-top: 40px;	
		margin-bottom: 40px;
		width: 80%;
	}
	.banner-left {
		font-size: 35px;
		padding-left: 12%;
		padding-right: 5%;
		text-align: center;
	}
	.banner-right {
		margin-top: 2em;
		padding-left: 3em;
		padding-right: 3em;
		line-height: 160%;
		text-align: justify;
	}
	.banner-right p:first-child {
		text-align: center;
	}
	video {
		width: 80%;
		margin-top: 20px;
	}
	.cools-concept p{
		margin: 1em 10%;
		width: 80%;
		line-height: 140%;
	}
	.effect {
		padding-top: 1em;
		padding-left: 1em;
		font-size: 20px;
	}
	.effect-title {
		font-size: 23px;
	}
	.effect ul {
		padding-left: 5em;
	}
	.effect img {
		margin-left: 5em;
	}
	.before-after {
		margin-top: 1em;
		padding-top: 1em;
	}
	.before-after p:first-child {
		font-size: 30px;
	}
	.arms {
		font-size: 25px;
		margin-top: 1em;
		width: 90%;
		margin-left: 5%;
	}
	.person-call {
		width: 90%;
		margin-left: 5%;
	}
	.institute p {
		font-size: 30px;
	}
	.room {
		width: 47%;
		float: left;
		margin-left: 5%;
		margin-bottom: 1em;
	}
	.rooms img:nth-child(3) {
		margin-left: 0;
	}
}

/***************************************************** Max Width : 414px ***********************************************************/
@media only screen and (max-width: 414px) {
	.banner {
		padding-bottom: 1em;
	}
	.banner img {
		margin-top: 10px;	
		margin-bottom: 10px;
		width: 65%;
	}
	.banner-left {
		font-size: 23px;
		padding-left: 1em;
		padding-right: 1em;
		text-align: center;
	}
	.banner-left button {
		height: 40px;
		border-radius: 20px;
		font-size: 16px;
		margin-top: 10px;
		width: 70%;
		padding: 0;
	}
	.banner-right {
		font-size: 14px;
	}
	.banner-right p:first-child {
		font-size: 20px;
	}
	video {
		width: 90%;
		margin-top: 10px;
	}
	.cools-concept p{
		font-size: 15px;
		margin: 1em;
		width: 95%;
		line-height: 120%;
	}
	.how-does {
		margin-top: 1em;
		margin-bottom: 0;
	}
	.how-does p:first-child{
		font-size: 20px;
		margin-bottom: 1em;
	}
	.how-does .item {
		width: 80%;
		margin-bottom: 1em;
	}
	.effect {
		padding-top: 1em;
		padding-left: 1em;
		font-size: 17px;
	}
	.effect-title {
		font-size: 20px;
	}
	.effect ul {
		padding-left: 3em;
	}
	.effect img {
		margin-left: 0;
	}
	.before-after {
		margin-top: 5px;
		padding-top: 5px;
	}
	.before-after p:first-child {
		font-size: 20px;
	}
	.before-after p:last-child {
		font-size: 14px;
	}
	.arms {
		font-size: 15px;
		margin-top: 1em;
	}
	.arms-comment {
		font-size: 14px;
	}
	.person-call {
		font-size: 13px;
	}
	.person-call p:first-child {
		font-size: 20px;
	}
	.person-call button {
		height: 40px;
		border-radius: 20px;
		font-size: 15px;
	}
	.institute p {
		font-size: 20px;
	}
	.building {
		width: 80%;
		margin-left: 10%;
	}
	.rooms {
		width: 80%;
		margin-left: 10%;
	}
}